.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 70px;
  width: 470px;
  background-color: #1f27f5;
  color: white;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 600;
}
