.button_component{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    padding: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(82 82 241);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.button_component:hover{
    background-color: rgb(100 100 232);
}