.card_wrapper{
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 60px;
    background-color: bisque;
    border-radius: 15px;
    align-items: center;
    gap: 20px;
    box-shadow: 10px 8px 5px rgb(195, 88, 182);
    cursor: pointer;
}


.user_avatar{
    width: 250px;
    height: 250px;
    border-radius: 12px;
}

.card_info{
    font-size: 20px;
    color: rgb(208, 0, 255);
    text-align: center;
    font-weight: bold;
} 

.text {
    color: black;
    font-weight: 500;
    
}